*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




.header-top{
    background-color: #add8e6;
    display: flex;
    padding: 10px;
    justify-content: center;
}


.login{
    height: 50px;
    width: 240px;
    background-color: #daa520;
    border: 1px dashed black;
}

.link{
    width: 720px;
    height: 50px;
    background-color: #daa520;
    border: 1px dashed black;
}

.logo{
    height: 50px;
    width: 240px;
    background-color: #daa520;
    border: 1px dashed black;
}

.header-bottom{
    background-color: #00008b;
    display: flex;
    height: 500px;
}

.box{
    background-color: #ee82ee;
    height: 400px;
    width: 910px;
    margin: 50px auto;
    border: 1px dashed black;
}

.box-small{
    width: 40%;
    height: 400px;
    background-color: #ffc0cb;
    border: 1px dashed black;
}

.box-big{
    width: 60%;
    height: 400px;
    background-color: #1e90ff;
    border: 1px dashed black;
}

.container{
    display: flex;
    height: 600px;
    align-items: center;
}

.even{
    background-color: #d3d3d3;
}