*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




.header-top{
    background-color: #add8e6;
    display: flex;
    padding: 10px;
    justify-content: center;
}


.login{
    height: 50px;
    width: 240px;
    background-color: #daa520;
    border: 1px dashed black;
}

.link{
    width: 720px;
    height: 50px;
    background-color: #daa520;
    border: 1px dashed black;
}

.logo{
    height: 50px;
    width: 240px;
    background-color: #daa520;
    border: 1px dashed black;
}

.header-bottom{
    background-color: #00008b;
    display: flex;
    height: 500px;
}

.box{
    background-color: #ee82ee;
    height: 400px;
    width: 910px;
    margin: 50px auto;
    border: 1px dashed black;
}

.box-small{
    width: 40%;
    height: 400px;
    background-color: #ffc0cb;
    border: 1px dashed black;
}

.box-big{
    width: 60%;
    height: 400px;
    background-color: #1e90ff;
    border: 1px dashed black;
}

.container{
    display: flex;
    height: 600px;
    align-items: center;
    justify-content: center;
}

.boxes{
    width: 80%;
    display: flex;
}

.even{
    background-color: #d3d3d3;
}

.big-container{
    background-color: #d3d3d3;
    height: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.green-box{
    height: 900px;
    width: 80%;
    background-color: #228b22;
}

footer{
    background-color: #23272a;
}

.foot-top{
    width: 80%;
    display: flex;
    margin: 0 auto;
}

.big-box{
    height: 400px;
    background-color: #f08080;
    width: 65%;
    border: 1px dashed black;
}

.small-box{
    height: 400px;
    background-color: #20b2aa;
    width: 35%;
    border: 1px dashed white;
}

.foot-bottom{
    height: 50px;
    background-color: #7fffd4;
    width: 80%;
    margin: 0 auto;
    margin-top: 30px;
    display: flex;
}

.loghino{
    height: 15px;
    width: 50px;
    background-color: #ffb6c1;
    align-self: center;
    display: flex;
}

.bottone{
    height: 15px;
    width: 50px;
    background-color: #ffb6c1;
    justify-content: flex-end;
    align-self: center;
    display: flex;
}